body{
    background-color: #F3F5FC;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background:#faf2fa;     
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

textarea{
    font-family: "Poppins", sans-serif;
}
/*encabezado*/
.encabezado{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 2px;
    width: 100%; 
    height: auto;
}

.logo{
    width: 31px;
    height: 46px;
    margin-top: 10px;
    margin-left: 20px;
    max-width: 31px;
    max-height: 46px;
}

.titulo{
    color: #0A3871;
    font-weight: 100;
    font-size: 55px;  
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins ExtraBold", sans-serif;
}

/*main*/
.conteiner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    min-height: calc(100vh - 40px - 72px);
    box-sizing: border-box;
}
/*lado left*/
.cifrar{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%; 
}
.ingresoTexto{
    width: 100%;
    height: 60%;
    max-width: 100%;
    font-size: 32px;
    color: #1f2022;
    resize: none;
    background: none;
    border: none;
    outline: none;    
}

.ingresoTexto::placeholder{
    color: #ccc; 
}
.elementos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;
    width: 70%;
}
.requisito{
    color: #495057;
    font-weight: 400;   
}

.botones{
   display: flex;
   gap: 12px;
   margin-top: 16px;
   flex-direction: row;
   flex-wrap: wrap;
}
.btn-encriptar, .btn-desencriptar, .btn-copiar{
    border: 1px solid #0A3871;
    cursor: pointer;
    max-width: 328px;
    min-width: 160px;
    width: 40%;
    height: 67px;
    border-radius: 24px; 
    font-size: 16px; 
}


.btn-encriptar{
    color: #FFFFFF;
    background-color: #0A3871;
    width: 328px;
    transition: 2s all;

}
.btn-encriptar:hover{
    background:  rgb(255, 255, 255);
    color: #0A3871; 
}
.btn-desencriptar{
    color: #0A3871;
    background-color: #D8DFE8;
    width: 328px;
    transition: 2s all;
}
.btn-desencriptar:hover{
    background: #0A3871;
    color: white;
}


/*lado right*/
.descifra{
    background-color: #fcfcfc;
    height: 95.5%;
    width: 40%;
    border-radius: 32px;
    padding: 20px 20px 28px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    box-shadow: 0px 24px 55px -8px rgba(0,0,0,0.08);
}

.descifra.ajustar{
    justify-content: space-between;
}
.imagenBuscador{
    width: 80%;
}
.imagenBuscador.oculto{
    display: none;
}

.mensajeEncriptado{
    width: calc(100% - 40px);
    max-width: 100%;
    font-size: 24px;
    color: #343A40;
    resize: none;
    background: none;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
}

.mensajeEncriptado::placeholder:focus{
    color: #495057; 
    text-align: center;
}
    
.mensajeEncriptado.ajustar{
    text-align: left;
    font-weight: lighter;
    height: 80%;
}
.parrafo-mensaje{
    color: #495057;
    text-align: center;
    font-size: 16px;  
}

.btn-copiar{
    width: 328px;
    background-color: transparent;
    color: #0A3871;
    border-color: #0A3871;
    transition: 2s all;
    display: none;
}

.footer{
    background-color: #0A3871;
    padding:  5px;
    height:  30px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #ffffff;;  
    margin-top: 2 rem;   
}

@media screen and (max-width: 1200px) {
    .conteiner{
        flex-direction: row;
        width: 90%;
        margin: 5%;
    }
    .cifrar{
        height: 90%;
    }
    .ingresoTexto{
        height: 80%;
    }
    .botones{
        flex-direction: row;
        width: 100%;
    }
    .btn-encriptar{
        width: 45%;
    }
    .btn-desencriptar{
        width: 45%;
    }
    .descifra{
        width: auto;
    }
}

@media screen and (max-width: 800px){
    .encabezado{
        text-align: center;
        width: 80%;
        justify-content: space-between;
    }
    .logo{
        width: 30%;
    }
    .titulo{
        font-size: 40px;
    }
    .conteiner{
        flex-direction: column;
        width: 95%;
        margin: 1%;  
    }
    .cifrar{
        width: 100%;
        height: 80%;
        justify-content: space-evenly;
    }
    .ingresoTexto{
        width: 90%;
        height: 70%;     
    }
    .elementos{
        margin-left: 5%;
    }
    .btn-desencriptar{
        height: 100%;
    }
    .botones{
        justify-content: center;
    }
    .btn-encriptar, .btn-desencriptar{
        width: 45%;
    }
    .descifra{
        height: 25%;
        width: 65%;
        margin-bottom: 4%;
        padding-bottom: 20px;
    }
    .mensajeEncriptado{
        align-items: center;
        width: 90%;
    }
    .imagenBuscador{
        display: none;
    }
    .btn-copiar{
        height: 50%;
    }
    .footer{
        height: auto;
    }
    
}
@media screen and (max-width: 480px){
    .elementos{
        margin-left: 3px;
        width: 90%;
    }
    .descifra{
        height: 25%;
        margin-bottom: 5%;
        padding-bottom: 20px;
        width: 75%;
    }
    
    .btn-copiar{
    width: 90%;
}
}

@media screen and (max-width: 380px){
    .body{
        width: 100%;
        height: auto;
    }
    .encabezado{
        width: 95%;
        margin-top: 12px;
        height: 10%;
    }
    .logo{
        width: 25%;
    }
    .titulo{
        width: 85%;
        font-size: 25.5px; 
    }
    .conteiner{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 1%;
        margin: auto;
    }
    .cifrar{
        height: 80%;
        align-items: space-betwwen;
    }
    .ingresoTexto{
        width: 100%;
       height: 70%;
        
    }
    .elementos{
        margin-left: 4%;
        width: 100%;
        text-align:start;
    }
    .botones{
        margin-left: 4%;
        width: 100%;
        justify-content: space-between;   
    }
    .btn-encriptar, .btn-desencriptar,.btn-copiar{
        width: 100%;
    } 
    .btn-desencriptar{
        height: 65px;   
    }
    .descifra{
        width: 90%;
        height: 20%;
    }
    .imagenBuscador{
        display: none;
    }
    .footer{
        position: static;
        height: auto;
    }
    
}